@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary : #590696;
$blue:#590696;
$font-family-sans-serif :'Montserrat', sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap";